@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
:root {
  --clr-primary: #6366F1;
  --clr-white: #fff;
  --clr-100: #F3F6FF;
  /* --clr-200: #EFF2FC; */
  --clr-300: #E2E5F1; /* borders */
  /* --clr-400: #D4D7E5; */
  --clr-500: #B4B7C9;
  --clr-600: #9397AD;
  --clr-700: #565973;
  --clr-800: #33354D;
  --clr-900: #0B0F19;
  --clr-sys-warning: #FFBA08;
  --clr-sys-success: #22C55E;
  --container-padding: .5rem;
  --background-gradient: linear-gradient(170deg, rgba(241, 244, 253, .07), rgba(217, 70, 239, .07));
}

.dark {
  color-scheme: dark;
  --clr-600: white;
  --clr-700: white;
  --clr-900: white;
  --clr-300: rgba(255, 255, 255, 0.15);
}
.dark body {
  background-color: #0B0F19;
}
.dark .bg-gray, .dark .testimonial, .dark .panel {
  background-color: rgba(255, 255, 255, 0.04);
}
.dark .more-btn {
  background-color: rgba(255, 255, 255, 0.05);
  background-image: url(/images/chevron-white.svg);
}
.dark #darkmode-switch .nav-text {
  color: var(--clr-primary);
}
.dark #nav-logo {
  background-image: url(/images/logo-darkmode.svg);
}
.dark .nav-text {
  color: white;
}
.dark .mkt-title, .dark .mkt-text {
  color: var(--clr-800);
}
.dark .dark-apple {
  display: block;
}
.dark .white-apple {
  display: none;
}

.text-L, .text-M, .text-S {
  color: var(--clr-700);
}

.nav-text, a {
  color: var(--clr-800);
}

.D4, .h1, h2, h4, h5, h6 {
  color: var(--clr-900);
}

.h6 {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-weight: 600;
}

.D4, .h1, .h2, .h4, .h5 {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 800;
}

.nav-text {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-weight: 600;
}

nav, section {
  margin-inline: auto;
  padding-inline: var(--container-padding);
}
@media (min-width: 768px) {
  nav, section {
    max-width: 720px;
  }
}
@media (min-width: 1400px) {
  nav, section {
    max-width: 1320px;
  }
}

.no-mobile {
  display: none;
}
@media (min-width: 768px) {
  .no-mobile {
    display: inline;
  }
}

.desktop-only {
  display: none;
}
@media (min-width: 1400px) {
  .desktop-only {
    display: inline;
  }
}

.btn-primary {
  background-color: var(--clr-primary);
  color: var(--clr-white);
  border-radius: 8px;
  border: none;
  padding: 0.75rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 600;
  transition: all 0.2s;
}
.btn-primary:hover, .btn-primary:focus {
  background-color: var(--clr-white);
  outline: rgba(99, 102, 241, 0.35) 2px solid;
  color: var(--clr-primary);
}
.btn-primary:hover .sign-in-icon, .btn-primary:focus .sign-in-icon {
  /* Image color is the same as background */
  background-color: var(--clr-primary);
}

.btn-market {
  background-color: var(--clr-primary);
  color: var(--clr-white);
  border-radius: 8px;
  border: none;
  padding: 0.75rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 600;
  transition: all 0.2s;
  background-color: var(--clr-900);
}
.btn-market:hover, .btn-market:focus {
  background-color: var(--clr-900);
  text-decoration: none;
}

.more-btn {
  height: 44px;
  aspect-ratio: 1;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--clr-white);
  background-image: url(/images/chevron.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.more-btn.more-btn-expand {
  rotate: 180deg;
  background-color: var(--clr-primary);
  background-image: url(/images/chevron-white.svg);
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  color-scheme: light;
}

body {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color: #0B0F19;
  font-optical-sizing: auto;
}

nav {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr auto auto;
  gap: 1.5rem;
  padding-block: 0.5rem;
}

#nav-logo {
  background-image: url(/images/logo.svg);
  background-repeat: no-repeat;
  height: 44px;
  width: 122px;
}

#nav-features {
  display: none;
  width: -moz-fit-content;
  width: fit-content;
}
#nav-features:hover {
  color: var(--clr-primary);
}

#darkmode-switch {
  display: flex;
  gap: 10px;
}

.toggle-parent {
  --_h: 20px;
  --_w: 42px;
  --_p: 2px;
  position: relative;
  cursor: pointer;
  box-sizing: content-box;
  height: var(--_h);
  width: var(--_w);
  padding: var(--_p);
}
.toggle-parent input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.toggle-parent input[type=checkbox]:focus-visible + .toggle {
  outline: var(--clr-900) 2px solid;
}
.toggle-parent input[type=checkbox]:checked + .toggle::before {
  left: calc(100% - var(--_h) - var(--_p));
}
.toggle-parent input[type=checkbox]:checked + .toggle {
  background-color: var(--clr-primary);
}
.toggle-parent .toggle {
  position: absolute;
  inset: 0;
  border-radius: 100vw;
  background-color: var(--clr-500);
}
.toggle-parent .toggle::before {
  content: "";
  position: absolute;
  top: var(--_p);
  left: var(--_p);
  height: var(--_h);
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--clr-white);
  transition: all 200ms;
}

#sign-in {
  display: none;
}
#sign-in img {
  margin-right: 0.5rem;
  border-radius: 50%;
}

.burger {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 1rem;
  cursor: pointer;
}
.burger i {
  font-size: 1.25rem;
}

.headline {
  grid-area: hero-headline;
  text-align: center;
}

.hero-content {
  grid-area: hero-content;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  text-align: center;
}
.hero-content > p {
  padding-bottom: 3rem;
}

.hero-images {
  grid-area: hero-images;
}

.phones {
  display: none;
  width: 100%;
}

.hero {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "hero-headline" "hero-content";
}

.mkt-btns {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--clr-white);
  text-align: left;
}
.mkt-btns .btn-market {
  gap: 1rem;
}
.mkt-btns .mkt-text {
  font-size: 0.625rem;
  font-weight: 600;
}
.mkt-btns .mkt-title {
  font-size: 1.25rem;
  line-height: 1.25rem;
}

.dark-apple {
  display: none;
}

.more-container {
  position: relative;
  min-height: 8rem;
}

.hero-more {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  gap: 1rem;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 2.5rem;
}
.hero-more:hover {
  cursor: pointer;
}

.more-btn {
  height: 44px;
  aspect-ratio: 1;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--clr-white);
  background-image: url(/images/chevron.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.more-btn.more-btn-expand {
  rotate: 180deg;
  background-color: var(--clr-primary);
  background-image: url(/images/chevron-white.svg);
}

@media (min-width: 768px) {
  header #darkmode-switch span {
    display: block;
  }
  header nav {
    gap: 4rem;
    padding-block: 1rem;
  }
  header .hero {
    padding-top: 3rem;
    grid-template-areas: "hero-headline hero-headline" "hero-content hero-images";
    grid-template-rows: 180px auto;
    grid-template-columns: 1fr 1fr;
  }
  header .hero .phones {
    display: block;
  }
  header .hero p {
    text-align: left;
  }
  header .mkt-btns {
    flex-direction: row;
    gap: 1rem;
  }
  header .mkt-btns .btn-market {
    padding: 0.75rem 0.7rem;
  }
  header .hero-more {
    left: var(--container-padding);
    transform: translateX(0);
  }
}
@media (min-width: 1400px) {
  header nav {
    grid-template-columns: auto 1fr auto auto;
    gap: 1.5rem;
  }
  header #nav-features, header #sign-in {
    display: flex;
  }
  header .burger {
    display: none;
  }
  header .hero {
    padding-top: 7rem;
    grid-template-areas: "hero-headline hero-images" "hero-content hero-images";
  }
  header .hero h1 {
    text-align: left;
  }
  header .mkt-btns {
    gap: 1.5rem;
  }
  header .mkt-btns .btn-market {
    padding: 0.75rem 1.5rem;
  }
}

#brands {
  display: none;
  justify-content: space-between;
  align-items: center;
}

.brand-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--clr-300);
  border-radius: 8px;
  height: 100px;
  width: 160px;
}

@media (min-width: 768px) {
  #brands {
    display: flex;
    padding-block: 5rem;
  }
  #brands #logo-5, #brands #logo-6 {
    display: none;
  }
}
@media (min-width: 1400px) {
  #brands .brand-box {
    width: 200px;
  }
  #brands #logo-5, #brands #logo-6 {
    display: flex;
  }
}

.feature-img {
  display: none;
  width: 100%;
  grid-area: feature-img;
}

.feature-text {
  grid-area: feature-text;
  text-align: center;
  padding-block: 1rem;
}
.feature-text h2 {
  margin-bottom: 1rem;
}

.cards {
  grid-area: cards;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.features {
  display: grid;
  grid-template-areas: "feature-text" "cards";
  justify-content: center;
  padding-bottom: 3rem;
}

.icon-card {
  display: flex;
  gap: 1.5rem;
}
.icon-card .icon {
  min-width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(99, 102, 241, 0.1);
  border-radius: 0.5rem;
}
.icon-card h2 {
  margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
  #features {
    grid-template-areas: "feature-text feature-text" "cards cards";
    padding-bottom: 5rem;
  }
  #features .cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1400px) {
  #features {
    grid-template-areas: "feature-img feature-text" "feature-img cards ";
    -moz-column-gap: 10rem;
         column-gap: 10rem;
  }
  #features .feature-img {
    display: block;
  }
  #features .feature-text {
    text-align: left;
  }
  #features .cards {
    gap: 3rem;
  }
}

.text-L {
  font-size: 1.125rem;
}

.text-M {
  font-size: 1rem;
}

.text-S {
  font-size: 0.875rem;
}

.nav-text {
  font-size: 1rem;
}

.D4 {
  font-size: 2.125rem;
}
@media (min-width: 768px) {
  .D4 {
    font-size: 2.75rem;
  }
}
@media (min-width: 1400px) {
  .D4 {
    font-size: 3.5rem;
  }
}

.h1 {
  font-size: 1.75rem;
}
@media (min-width: 768px) {
  .h1 {
    font-size: 2rem;
  }
}
@media (min-width: 1400px) {
  .h1 {
    font-size: 2.5rem;
  }
}

.h2 {
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .h2 {
    font-size: 2rem;
  }
}

.h4 {
  font-size: 1.375rem;
}
@media (min-width: 1400px) {
  .h4 {
    font-size: 1.5rem;
  }
}

.h5 {
  font-size: 1.25rem;
}

.h6 {
  font-size: 1rem;
}/*# sourceMappingURL=main.css.map */