@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
:root {
  /* --color-gradient: linear-gradient(to right, #6366F1, #8B5CF6, #D946EF); */
  --color-primary: #6366F1;
  --color-white: #fff;
  --color-100: #F3F6FF;
  --color-200: #EFF2FC;
  --color-300: #E2E5F1;
  --color-400: #D4D7E5;
  --color-500: #B4B7C9;
  --color-600: #9397AD;
  --color-700: #565973;
  --color-800: #33354D;
  --color-900: #0B0F19;
  --color-sys-warning: #FFBA08;
  --container-padding: .5rem;
  /* --background-gradient: linear-gradient(170deg, rgba(99, 102, 241, .1) 0%, rgba(217, 70, 239, .05) 42%, rgba(241, 244, 253, .07) 83%); */
  --background-gradient: linear-gradient(170deg, rgba(241, 244, 253, .07), rgba(217, 70, 239, .07));
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  background-color: white;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
}

/* Utils & defaults */
.no-mobile {
  display: none;
}
a {
  text-decoration: none;
  font-size: large;
  color: var(--color-800);
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.text-L {
  color: var(--color-700);
  font-size: 18px;
  font-weight: 400;
}
.text-M {
  color: var(--color-700);
  font-size: 16px;
  font-weight: 400;
}
.text-S {
  color: var(--color-700);
  font-size: 14px;
  font-weight: 400;
}
.D4 {
  color: var(--color-900);
  /* 34 44 56 */
  font-size: 34px;
  font-weight: 800;
}
.h1 {
  color: var(--color-900);
  /* 28 32 40 */
  font-size: 28px;
  font-weight: 800;
}
.h2 {
  color: var(--color-900);
  font-size: 32px;
  font-weight: 800;
}
.h4 {
  color: var(--color-900);
  /* 22 22 24 */
  font-size: 22px;
  font-weight: 800;
}
.h5 {
  color: var(--color-900);
  font-size: 20px;
  font-weight: 800;
  margin-bottom: .5rem;
}
.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 8px;
  border: none;
  padding: 12px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  transition: all .2s;
  &:hover, &:focus {
    /* border: rgba(var(--color-primary), .35); */
    background-color: var(--color-white);
    outline: rgba(99, 102, 241, 0.35) 2px solid;
    color: var(--color-primary);
    .sign-in-icon {
      /* Image color is the same as background */
      background-color: var(--color-primary);
    }
  }
}
.btn-market {
  background-color: var(--color-900);
  height: 50px;
  &:hover, &:focus {
    background-color: var(--color-primary);
  }
}
.bg-grad {
  background: var(--background-gradient);
}
.bg-gray {
  background: var(--color-100);
  background-color: #56597331; /* debug */
  /* On gray 900 darkmode */
  /* background-color: rgba(255, 255, 255, 0.04); */
}
.shadow {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

/* Debug borders */
header, main, footer {
  /* border: #6366F1 2px solid; */
}
nav, section {
  /* border: #D946EF 2px solid; */
}

/* Content */

nav, section {
  margin-inline: auto;
  padding-inline: var(--container-padding);
}
nav {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr auto auto;
  gap: 1.5rem;
  padding-block: .5rem;
}
#nav-logo {
  display: flex;
}
#nav-features {
  color: var(--color-800);
  font-size: 16px;
  font-weight: 600;
  display: none;
}
#nav-features:hover {
  color: var(--color-primary);
}
#darkmode-switch {
  display: flex;
  align-items: center;
  gap: 10px;
  span {
    color: var(--color-700);
    font-size: 16px;
    font-weight: 600;
    display: none;
  }
}
.toggle-parent {
  padding: 2px;
  width: 46px;
  height: 24px;
  background-color: var(--color-600);
  border-radius: 12px;
  border: none;
  
  .toggle-child {
    width: 20px;
    height: 20px;
    background-color: var(--color-white);
    border-radius: 50%;
  }
  &:active {
    .toggle-child {
      margin-left: 22px;
      transition: margin-left 0.1s;
    }
  }
}
#sign-in {
  display: none;
  img {
    margin-right: .5rem;
    border-radius: 50%;
  }
}
.burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 1rem .5rem;
  row-gap: 6px;
}
.bar {
  width: 24px;
  height: 3px;
  border-radius: 1px;
  background-color: var(--color-800);
}
.headline {
  grid-area: hero-headline;
}
.hero-content {
  grid-area: hero-content;
}
.hero-images {
  grid-area: hero-images;
}
.phones {
  display: none;
  width: 100%;
}
.hero {
  padding-top: 2rem;
  display: grid;
  grid-template-areas: 
    "hero-headline"
    "hero-content"
  ;
  grid-template-columns: 1fr;
  position: relative;
  min-height: 500px;
  h1 {
    text-align: center;
  }
  p {
    text-align: center;
    padding-bottom: 3rem;
  }
}
.mkt-btns {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.hero-more {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 2.5rem;
  /* margin-top: 2rem; */
  &:hover {
    cursor: pointer;
  }
}
.more-btn {
  height: 44px;
  aspect-ratio: 1;
  border: none;
  border-radius: 50%;
  background-color: var(--color-white);
  margin-right: 1rem;
  cursor: pointer;
}
#brands {
  display: none;
  justify-content: space-between;
  align-items: center;
}
.brand-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-300);
  border-radius: 8px;
  height: 100px;
  width: 160px;
}

.feature-img {
  display: none;
  width: 100%;
  grid-area: feature-img;
}
.feature-text {
  grid-area: feature-text;
  text-align: center;
  padding-block: 1rem;
  h2 {
    margin-bottom: 1rem;
  }
}
.cards {
  grid-area: cards;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
.features {
  display: grid;
  grid-template-areas: 
    "feature-text"
    "cards"
  ;
  justify-content: center;
  padding-bottom: 3rem;
}
.icon-card {
  display: flex;
  gap: 1.5rem;
  .icon {
    min-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(99, 102, 241, 0.08);
    border-radius: .5rem;
  }
  h2 {
    margin-bottom: .5rem;
  }
}

.slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 4rem;
  h2 {
    padding-top: 4rem;
    padding-bottom: 2rem;
    /* padding-bottom: 3rem; */
  }
  h3 {
    margin-bottom: .5rem;
    max-width: 480px;
  }
  p {
    max-width: 640px;
  }
}
.carousel {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  img {
    /* 270 200 292 */
    width: 270px;
  }
}
#img-1, #img-2, #img-4 {
  display: none;
}
#phone-body {
  position: absolute;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
}
.step-1 {
  display: none;
}

.features-desktop {
  display: none;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  row-gap: 4rem;
  max-width: 1076px;
  padding-block: 6rem;
  & > div {
    padding-top: 4rem;
  }
  .list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .cards {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .icon-card {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: start;
  }
  & > img {
    width: 100%;
  }
  a {
    width: fit-content;
  }
}
ul {
  list-style-image: url("/images/circle-check.svg");
  list-style-position: inside;
}
li {
  padding-block: .5rem;
}
/* Font awesome för pil */

.testimonials {
  display: none;
  grid-template-columns: 1fr 1fr 1fr;
  padding-block: 4rem;
  gap: 1.5rem;
}
.testimonial {
  position: relative;
  padding: 1rem;
  background-color: var(--color-white);
  border-radius: 8px;
  /* darkmode white 4% */
}
.test-icon {
  position: absolute;
  width: 44px;
  height: 44px;
  background-color: var(--color-primary);
  border-radius: 6px;
  top: -12%;
  box-shadow: 0px 10px 16px 0px rgba(99, 102, 241, 0.5);
}
.stars {
  padding-block: 1rem;
  font-weight: 500;
  .white {
    color: var(--color-500);
  }
  .yellow {
    color: var(--color-sys-warning);
  }
}

.subscribe {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  place-items: center;
  padding-block: 4rem;
  margin-inline: .5rem;
}
.subscribe-text {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-inline: var(--container-padding);
}
.input-group {
  position: relative;
  display: flex;
  height: 52px;
  input {
    border: var(--color-500) 1px solid;
    border-radius: 8px 0 0 8px;
    width: 100%;
    padding-left: 2rem;
  }
  button {
    background-color: var(--color-primary);
    color: var(--color-white);
    /* padding: 1rem 2rem; */
    padding: 0rem 1.5rem;
    border: none;
    font-size: 16px;
    border-radius: 0 8px 8px 0;
  }
}
.envelope {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}
.desktop {
  display: none;
}



footer {
  text-align: center;
  padding-block: 1rem;
}

/* Media queries */

@media (min-width: 768px) {
  .no-mobile {
    display: inline;
  }
  .D4 {
    font-size: 44px;
  }
  .h1 {
    font-size: 32px;
  }
  nav, section {
    max-width: 720px;
  }
  #darkmode-switch span {
    display: block;
  }
  nav {
    gap: 4rem;
    padding-block: 1rem;
  }
  .hero {
    padding-top: 3rem;
    grid-template-areas: 
      "hero-headline hero-headline"
      "hero-content hero-images"
    ;
    grid-template-rows: 180px auto;
    grid-template-columns: 1fr 1fr;
    .phones {
      display: block;
    }
    p {
      text-align: left;
    }
  }
  .mkt-btns {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
  }
  .btn-market {
    padding: 0;
    img {
      width: 80%;
    }
  }
  .hero-more {
    left: var(--container-padding);
    transform: translateX(0);
  }
  #brands {
    display: flex;
    padding-block: 5rem;
  }
  #logo-5, #logo-6 {
    display: none;
  }
  .features {
    grid-template-areas: 
      "feature-text feature-text"
      "cards cards"
    ;
    padding-bottom: 5rem;
  }
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  .carousel {
    img {
      width: 200px;
    }
  }
  #img-2, #img-4 {
    display: block;
  }
  #img-2 {
    opacity: 80%;
  }

  .subscribe {
    grid-template-columns: 1fr 1fr;
    margin-inline: auto;
  }
}

/* @media (min-width: 1400px) { */
@media (min-width: 1200px) {
  :root {
    --container-padding: 1rem;
  }
  .D4 {
    font-size: 56px;
  }
  .h1 {
    font-size: 40px;
  }
  .h4 {
    font-size: 24px;
  }
  nav, section, .subscribe {
    max-width: 1320px;
  }
  nav {
    grid-template-columns: auto 1fr auto auto;
    gap: 1.5rem;
  }
  #nav-features, #sign-in {
    display: flex;
  }
  .burger {
    display: none;
  }
  .hero {
    padding-top: 7rem;
    grid-template-areas: 
      "hero-headline hero-images"
      "hero-content hero-images"
    ;
    h1 {
      text-align: left;
    }
  }
  .btn-market {
    padding: 12px 25px;
    img {
      width: 100%;
    }
  }
  .brand-box {
    width: 200px;
  }
  #logo-5, #logo-6 {
    display: flex;
  }
  .features {
    grid-template-areas: 
      "feature-img feature-text"
      "feature-img cards "
    ;
    column-gap: 10rem;
    .feature-img {
      display: block;
    }
  }
  .feature-text {
    text-align: left;
  }
  .cards {
    gap: 3rem;
  }
  .carousel {
    gap: 4rem;
    img {
      width: 292px;
    }
  }
  #img-1 {
    display: block;
  }
  #img-2 {
    opacity: 100%;
  }
  #img-3 {
    opacity: 80%;
  }
  #img-4 {
    display: none;
  }
  .step-1 {
    display: block;
  }
  .step-2 {
    display: none;
  }
  .features-desktop {
    display: grid;
  }
  .testimonials {
    display: grid;
  }

  .subscribe {
    padding-inline: 10rem;
    grid-template-columns: 3fr 2fr;
  }
  .input-group button {
    padding: 0rem 2rem;
  }
  .desktop {
    display: inline;
  }

  footer {
    padding-block: 3rem;
  }
}