@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1400px) {
    @content;
  }
}

nav, section {
  margin-inline: auto;
  padding-inline: var(--container-padding);
  @include tablet() {
    max-width: 720px;
  }
  @include desktop() {
    max-width: 1320px;
  }
}

.no-mobile {
  display: none;
  @include tablet() {
    display: inline;
  }
}

.desktop-only {
  display: none;

  @include desktop() {
    display: inline;
  }
}
