.testimonials {
  display: none;
  grid-template-columns: 1fr 1fr 1fr;
  padding-block: 4rem;
  gap: 1.5rem;
}
.testimonial {
  position: relative;
  padding: 1rem;
  border-radius: 8px;
}
.test-icon {
  position: absolute;
  width: 44px;
  height: 44px;
  background-color: var(--clr-primary);
  border-radius: 6px;
  top: -12%;
  box-shadow: 0px 10px 16px 0px rgba(99, 102, 241, 0.5);
  @include center;
}
.stars {
  padding-block: 1rem;
  font-weight: 500;
  .white {
    color: var(--clr-500);
  }
  .yellow {
    color: var(--clr-sys-warning);
  }
}
.profile {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  .name {
    font-weight: 700;
    color: var(--clr-900);
  }
  .role {
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--clr-600);
  }
}

.testimonials {
  @include desktop {
    display: grid;
  }
}